<!DOCTYPE html>
    <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h2> <b>Welcome to the reading club!</b></h2>
<p>This is the best reading club you can even think of,please join.</p>
<form action="/register/" value="POST">
    <button>click here to join!</button>
</form>
<br>

<!--<tr>Current club participants:</tr>-->
<br>
{% if all_participants %}
    <table style="border-style: double">
        <tr>Current club participants:</tr>
        <br>
        <tr>
        {% for heading in headings %}
            <th style="border-style: double">{{heading.name}}</th>
        {% endfor %}
        </tr>
        {% for list in all_participants %}
            <tr>
            {% for data in list %}
                 <td style="border-style: double">{{data.value}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% else %}
    <td>No participants so far. Be the first!</td>
{% endif %}
</body>
</html>